#!/bin/bash

info_source="/elasity-jira/var/atlassian/application-data/jira/dbconfig.xml"

dbhost=$(grep '<url>jdbc:postgresql://' $info_source | cut -d'/' -f3 | cut -d':' -f1)
dbname=$(grep '<url>jdbc:postgresql://' $info_source | cut -d'/' -f4 | cut -d'<' -f1)
dbuser=$(grep '<username>' $info_source | cut -d'>' -f2 | cut -d'<' -f1)
dbpasswd=$(grep '<password>' $info_source | cut -d'>' -f2 | cut -d'<' -f1)

if `which psql >/dev/null 2>&1`; then
  PGPASSWORD=$dbpasswd psql -h $dbhost -U $dbuser -d $dbname
else
  echo "ERROR: Command psql not found, please install it first"
  echo "Example on Ubuntu: 'apt install -y postgresql-client'"
fi
