[Unit]
Description={{ appname | capitalize }}
After=network.target

[Service]
Type=forking
User={{ app_user }}
PIDFile={{ app_install_dir }}/work/catalina.pid
ExecStart={{ app_install_dir }}/bin/start-{{ appname }}.sh
ExecStop={{ app_install_dir }}/bin/stop-{{ appname }}.sh
TimeoutSec=200
LimitNOFILE=65536
LimitNPROC=4096
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
